# Database
DATABASE_URL="postgresql://user:password@host.neon.tech/xeron?sslmode=require"

# 4EverLand AI API
FOUR_EVER_LAND_API_KEY="your-4everland-api-key"

# Authentication
JWT_SECRET="your-super-secret-jwt-key-at-least-32-chars"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Base RPC URL
NEXT_PUBLIC_BASE_RPC_URL="https://mainnet.base.org"
